*{
    padding: 0;
    margin: 0;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(159, 232, 112,0.7);
    /* background-color: #9FE870; */
}

.box{
    height: 25rem;
    width: 30rem;
    border: solid gray 1px;
    background-color: rgba(159, 232, 112,1);
    border-radius: 1rem;
}


input{
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    margin-left: 4rem;
    margin-top: 2rem;
}


.sreen{
    width:100% ;
    height:15rem;
    overflow: auto;
    /* border: solid gray 1px; */
    padding: 1rem;
    

}

button{
    padding: 0.5rem;
    border: none;
    width: 10rem;
    border-radius: 1rem;
    margin-left: 5rem;
    margin-top: 2rem;
    cursor: pointer;
}


